xml-resources/web-service-references/FlightsWS/wsdl/localhost_8080/FlightAgencyWSApp/FlightsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wiltech/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wiltech/" name="FlightsWS">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/FlightsInfo" schemaLocation="http://localhost:8080/FlightAgencyWSApp/FlightsWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://wiltech/" schemaLocation="http://localhost:8080/FlightAgencyWSApp/FlightsWS?xsd=2"/>
</xsd:schema>
</types>
<message name="bookTicket">
<part name="parameters" element="tns:bookTicket"/>
</message>
<message name="bookTicketResponse">
<part name="parameters" element="tns:bookTicketResponse"/>
</message>
<message name="getOriginCities">
<part name="parameters" element="tns:getOriginCities"/>
</message>
<message name="getOriginCitiesResponse">
<part name="parameters" element="tns:getOriginCitiesResponse"/>
</message>
<message name="searchJourney">
<part name="parameters" element="tns:searchJourney"/>
</message>
<message name="searchJourneyResponse">
<part name="parameters" element="tns:searchJourneyResponse"/>
</message>
<message name="fillFlights">
<part name="parameters" element="tns:fillFlights"/>
</message>
<message name="fillFlightsResponse">
<part name="parameters" element="tns:fillFlightsResponse"/>
</message>
<message name="getFlightIDs">
<part name="parameters" element="tns:getFlightIDs"/>
</message>
<message name="getFlightIDsResponse">
<part name="parameters" element="tns:getFlightIDsResponse"/>
</message>
<message name="getFlightByDate">
<part name="parameters" element="tns:getFlightByDate"/>
</message>
<message name="getFlightByDateResponse">
<part name="parameters" element="tns:getFlightByDateResponse"/>
</message>
<message name="getAvailableSeats">
<part name="parameters" element="tns:getAvailableSeats"/>
</message>
<message name="getAvailableSeatsResponse">
<part name="parameters" element="tns:getAvailableSeatsResponse"/>
</message>
<message name="getDestinationCity">
<part name="parameters" element="tns:getDestinationCity"/>
</message>
<message name="getDestinationCityResponse">
<part name="parameters" element="tns:getDestinationCityResponse"/>
</message>
<message name="getAirportAddress">
<part name="parameters" element="tns:getAirportAddress"/>
</message>
<message name="getAirportAddressResponse">
<part name="parameters" element="tns:getAirportAddressResponse"/>
</message>
<portType name="FlightsWS">
<operation name="bookTicket">
<input wsam:Action="http://wiltech/FlightsWS/bookTicketRequest" message="tns:bookTicket"/>
<output wsam:Action="http://wiltech/FlightsWS/bookTicketResponse" message="tns:bookTicketResponse"/>
</operation>
<operation name="getOriginCities">
<input wsam:Action="http://wiltech/FlightsWS/getOriginCitiesRequest" message="tns:getOriginCities"/>
<output wsam:Action="http://wiltech/FlightsWS/getOriginCitiesResponse" message="tns:getOriginCitiesResponse"/>
</operation>
<operation name="searchJourney">
<input wsam:Action="http://wiltech/FlightsWS/searchJourneyRequest" message="tns:searchJourney"/>
<output wsam:Action="http://wiltech/FlightsWS/searchJourneyResponse" message="tns:searchJourneyResponse"/>
</operation>
<operation name="fillFlights">
<input wsam:Action="http://wiltech/FlightsWS/fillFlightsRequest" message="tns:fillFlights"/>
<output wsam:Action="http://wiltech/FlightsWS/fillFlightsResponse" message="tns:fillFlightsResponse"/>
</operation>
<operation name="getFlightIDs">
<input wsam:Action="http://wiltech/FlightsWS/getFlightIDsRequest" message="tns:getFlightIDs"/>
<output wsam:Action="http://wiltech/FlightsWS/getFlightIDsResponse" message="tns:getFlightIDsResponse"/>
</operation>
<operation name="getFlightByDate">
<input wsam:Action="http://wiltech/FlightsWS/getFlightByDateRequest" message="tns:getFlightByDate"/>
<output wsam:Action="http://wiltech/FlightsWS/getFlightByDateResponse" message="tns:getFlightByDateResponse"/>
</operation>
<operation name="getAvailableSeats">
<input wsam:Action="http://wiltech/FlightsWS/getAvailableSeatsRequest" message="tns:getAvailableSeats"/>
<output wsam:Action="http://wiltech/FlightsWS/getAvailableSeatsResponse" message="tns:getAvailableSeatsResponse"/>
</operation>
<operation name="getDestinationCity">
<input wsam:Action="http://wiltech/FlightsWS/getDestinationCityRequest" message="tns:getDestinationCity"/>
<output wsam:Action="http://wiltech/FlightsWS/getDestinationCityResponse" message="tns:getDestinationCityResponse"/>
</operation>
<operation name="getAirportAddress">
<input wsam:Action="http://wiltech/FlightsWS/getAirportAddressRequest" message="tns:getAirportAddress"/>
<output wsam:Action="http://wiltech/FlightsWS/getAirportAddressResponse" message="tns:getAirportAddressResponse"/>
</operation>
</portType>
<binding name="FlightsWSPortBinding" type="tns:FlightsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bookTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOriginCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchJourney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fillFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableSeats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDestinationCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAirportAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlightsWS">
<port name="FlightsWSPort" binding="tns:FlightsWSPortBinding">
<soap:address location="http://localhost:8080/FlightAgencyWSApp/FlightsWS"/>
</port>
</service>
</definitions>